<section id="achievements" class="section achievements">
  <h2>
    {{ langService.currentLang === 'en' 
       ? '🏵️Our Achievements🏵️' 
       : '🏵️आमची उपलब्धी🏵️' }}
  </h2>

    <p class="subtitle" style="  margin-bottom: 2rem;">
    {{ langService.currentLang === 'en' 
       ? 'Showcasing milestones, awards and progress of our Gram Panchayat' 
       : 'आमच्या ग्रामपंचायतीच्या उपलब्धी आणि प्रगतीचे दर्शन' }}
  </p>

  <div class="carousel-container">
 <div class="carousel-track"
     [style.transform]="'translateX(-' + (currentIndex * (100 / cardsPerView)) + '%)'">
<div class="achievement-card" *ngFor="let ach of achievements; let i = index"
     [style.flex]="'0 0 ' + (100 / cardsPerView) + '%'">
        <span class="year-badge">{{ i + 1 }}</span>
        <div class="img-container">
          <img [src]="ach.image" [alt]="'Achievement ' + (i + 1)" />
        </div>
        <h3>{{ langService.currentLang === 'en' ? ach.titleEn : ach.titleMr }}</h3>
        <p>{{ langService.currentLang === 'en' ? ach.descriptionEn : ach.descriptionMr }}</p>
      </div>
    </div>


  <button class="nav-btn prev-btn" (click)="prev()" *ngIf="currentIndex > 0">
    <mat-icon>chevron_left</mat-icon>
  </button>


  <button class="nav-btn next-btn" (click)="next()" *ngIf="currentIndex < achievements.length - cardsPerView">
    <mat-icon>chevron_right</mat-icon>
  </button>

  </div>

  <!-- <div class="carousel-controls">
    <button class="nav-btn prev-btn" (click)="prev()">
      <mat-icon>chevron_left</mat-icon>
      {{ langService.currentLang === 'en' ? 'Prev' : 'मागे' }}
    </button>

    <button class="nav-btn next-btn" (click)="next()">
      {{ langService.currentLang === 'en' ? 'Next' : 'पुढे' }}
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div> -->
</section>
